<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="basicTarrif" value="5" />
      <add key="packagedAmount" value="800" />
      <add key="packagedUsageQuantity" value="4000" />
    </appSettings>
</configuration>